{% extends 'base.html.twig'%}

{% block title%}About {{ parent() }} {% endblock %}
 {% block header %}
        <h1>About Page</h1>
  {% endblock header %}
{% block article %} 
    <h1>Massire est un étudiant Congolais venu en france en Décembre 2020 ...</h1>
{% endblock article %}