*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
li{
    display: inline-block;
}
li:not(:last-child){
    margin-right: 10px;
}
nav a{
    padding: 1rem;
    display: inline-block;
}
.afrimeta-block{
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows:  auto 1fr minmax(50px, 60px);
}

.afrimeta-nav{
     background-color: rgba(255, 165, 0, 0.9); 
     display: flex;
     justify-content: space-between;
     align-items: center;
    
}

.afrimeta-section-block{
    min-width: 1200px;
    margin: 0 auto;


  
     background-color: rgba(0, 255, 174,0.7); 
}

.afrimeta-footer{
    display: grid;
    place-content: center;
     background-color: rgba(255, 0, 221,0.7); 
}

